<div data-ng-controller="ListCtrl">
  <header>
    <div id="logo page-header"><h1>voyages.com</h1></div> <nav id="menu-header"></nav>
  </header>

  <div class="row">
    <aside>
      <h2>Filtres</h2>
      <select ui-select2 ng-model="select2">
          <option value="one">First</option>
          <option value="two">Second</option>
          <option value="three">Third</option>
      </select>
      <h2>Popup</h2>
      <div class="form-horizontal">
        <p>
          <input type="text" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
          <button class="btn" ng-click="open()"><i class="icon-calendar"></i></button>
        </p>
        <p><i>Format options:</i> <select ng-model="format" ng-options="f for f in formats"><option></option></select></p>
      </div>
    </aside>
  </div>

</div> <!-- ng-controller -->
